<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-uppercase">FaleMuito</h1>
                <h3>Comparativo de Planos e Minutos</h3>
            </div>
        </div>
    </div>
</header>


<main class="main-content">
    <section class="container form">
        <form name="valores" novalidate>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="origem">DDD de Origem</label>
                        <select name="origem" class="form-control input-lg" ng-model="$ctrl.conexao.origem" required>
                            <option disabled selected value>Escolha o DDD</option>
                            <option ng-repeat="ddd in $ctrl.ddds" ng-value="{{ddd.ddd}}">{{ddd.ddd}} - {{ddd.name}}</option>
                        </select>
                        <small ng-show="valores.origem.$invalid && !valores.origem.$pristine" class="help-block">Escolha um DDD origem.</small>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="destino">DDD de Destino</label>
                        <select name="destino"  class="form-control input-lg" ng-model="$ctrl.conexao.destino" required>
                            <option disabled selected value>DDD Destino</option>
                            <option ng-repeat="ddd in $ctrl.ddds" ng-value="{{ddd.ddd}}">{{ddd.ddd}} - {{ddd.name}}</option>
                        </select>
                        <small ng-show="valores.destino.$invalid && !valores.destino.$pristine" class="help-block">Escolha um DDD destino.</small>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="duracao">Minutos</label>
                        <input type="number" placeholder="Minutos" class="form-control input-lg" ng-model="$ctrl.duracao" name="duracao" min="1" required>
                        <small ng-show="valores.duracao.$invalid && !valores.duracao.$pristine" class="help-block">Insira um número maior que 0.</small>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label>Calcular</label>
                    <button class="btn btn-success btn-block btn-lg" ng-click="$ctrl.calculo()" ng-disabled="valores.$invalid">COMPARAR PLANOS</button>
                </div>

                <div class="col-md-12">
                    <hr>

                    <div ng-show="$ctrl.erroralert == true" class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Ops!</strong> Sem tarifas especiais para este DDD origem e destino, por favor escolha outro.
                    </div>

                </div>
            </div>
        </form>
    </section>

    <section >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><h4>Comparação de Planos</h4></div>
                        <!-- Table -->
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th>Plano</th>
                                <th>Minutos</th>
                                <th>Valor com Plano</th>
                                <th>Valor sem Plano</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="plano in $ctrl.planos" class="repeated-item">
                                <td>{{plano.nome}}</td>
                                <td>{{plano.tempo}}</td>
                                <td ng-if="plano.cplano != 0"> {{plano.cplano | currency:"R$ "}}</td>
                                <td ng-if="plano.cplano == 0">-</td>
                                <td ng-if="plano.splano != 0"> {{plano.splano | currency:"R$ "}}</td>
                                <td ng-if="plano.splano == 0">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

