* {
  margin: 0;
  padding:0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #FEAC5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 40px 0;
  color: #fff;

  h1 {
    font-size: 46px;
    font-weight: bold;
  }

}

.main-content {
  padding: 30px 0;

  tbody {
    font-size: 16px;
  }

  th {
    text-align: center;
  }

  .panel-default>.panel-heading {
    color: #fff;
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: transparent;
  }
}